{% extends 'mentalhealth/base.html' %}

{% block title%}Journal Entry{% endblock %}

{% block content %}

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/newentry.css' %}">

<div class="page">
  <h1>New Journal Entry</h1>
  <form method="post" action="/newentry/">
    {% csrf_token %}

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Entry Title</label>
      {{form.title}}
    </div>

    <div class="form-group">
      <label for="exampleFormControlTextarea1">Entry Text</label>
      {{form.text}}
    </div>

    <button class="form-large btn btn-primary my-2 my-sm-0" type="submit" name="save" value="save">Save Entry</button>
  </form>
</div>
{% endblock %}
